:root {
  --default-theme-primary: #009688;
  --default-theme-primary-dark: #00675B;
  --default-theme-secondary: #D84315;
  --default-theme-secondary-medium: #FF7043;
  --default-theme-secondary-light: #FFAB91;
  --default-theme-text-light: #FAFAFA;
  --default-theme-text-medium: #9E9E9E;
  --default-theme-text-dark: #424242;
  --default-theme-white: #FFFFFF;
  --default-theme-gray-1: #EEEEEE;
  --default-theme-gray-2: #e0e0e0;
  --default-theme-gray-3: #BCBCBC;
  --default-theme-gray-4: #AEAEAE;
}
body {
  background: var(--default-theme-gray-1);
  font-size: 12px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: var(--default-theme-text-dark);
}
.container {
  margin: 0 auto;
  padding: 0 2em;
}
@media only screen and (min-width: 600px) {
  .container {
    padding: 0 4em;
  }
}
.form-field {
  padding: 0.8em 0;
}