.header {
  background: var(--default-theme-primary);
  width: 100vw;
  position: fixed;
  box-shadow: 0 0 8px var(--default-theme-text-dark);
  top: 0;
  padding: 1em 0;
  z-index: 5;
}
.header .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .header-brand a {
  color: var(--default-theme-text-light);
  font-size: 2.8em;
  text-decoration: none;
}
.header .nav-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background 0.3s;
}
@media only screen and (min-width: 768px) {
  .header .nav-btn {
    opacity: 0;
    visibility: hidden;
  }
}
.header .nav-btn:hover {
  background: var(--default-theme-primary-dark);
}
.header .btn-hamburger {
  display: block;
  background: var(--default-theme-text-light);
  width: 26px;
  height: 3px;
  position: relative;
  top: 24px;
  left: 13px;
  transition: .8s ease-in-out;
}
.header .btn-hamburger:before,
.header .btn-hamburger:after {
  background: var(--default-theme-text-light);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}
.header .btn-hamburger:before {
  top: -8px;
}
.header .btn-hamburger:after {
  bottom: -8px;
}
.nav-btn-checkbox {
  display: none;
}
.nav-btn-checkbox:checked ~ .header .btn-hamburger {
  transform: rotate(45deg);
}
.nav-btn-checkbox:checked ~ .header .btn-hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
.nav-btn-checkbox:checked ~ .header .btn-hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
.header .login-btn a {
  color: var(--default-theme-text-light);
  background: var(--default-theme-primary);
  font-size: 1.5em;
  text-decoration: none;
  padding: .6em 1em;
  display: block;
  border-radius: 5px;
  transition: background .5s ease-in-out;
}
.header .login-btn a:hover {
  background: var(--default-theme-primary-dark);
}
h1 {
  font-size: 3em;
  font-weight: bold;
}
.section-auth,
.section-content,
.section-notes,
.sidebar {
  padding-top: 8em;
}
.section-content {
  min-height: 100vh;
  width: 100vw;
}
@media only screen and (min-width: 768px) {
  .section-content {
    width: 70vw;
  }
}
.section-content .content-text {
  margin: 2em 0 1em 0;
}
.section-auth .auth-box {
  width: 40vw;
  max-width: 450px;
  min-width: 300px;
  background: var(--default-theme-white);
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1.2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 6px var(--default-theme-text-medium);
}
.section-auth label,
.section-content label {
  width: 100%;
  display: block;
  color: var(--default-theme-gray-4);
  margin-bottom: 3px;
}
.section-auth input,
.section-content input {
  width: 100%;
  display: block;
  padding: 0.5em;
  border: 1px solid var(--default-theme-gray-3);
  color: var(--default-theme-text-dark);
  border-radius: 5px;
}
.section-auth input:focus,
.section-content input:focus {
  color: var(--default-theme-text-dark);
  border: 1px solid var(--default-theme-primary);
}
.section-auth button,
.section-content button {
  background: var(--default-theme-secondary-light);
  color: var(--default-theme-secondary);
  margin: 0.8em 0;
}
.section-auth button:hover,
.section-content button:hover {
  background: var(--default-theme-secondary-medium);
  color: var(--default-theme-white);
}
.section-auth .auth-box a {
  color: var(--default-theme-text-dark);
  text-decoration: none;
}
.section-auth .auth-box a:hover {
  color: var(--default-theme-gray-4);
  text-decoration: underline;
}
.sidebar {
  width: 30vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: -290px;
  background: var(--default-theme-white);
  box-shadow: 0 0 6px var(--default-theme-text-medium);
  z-index: 3;
  transition: right .8s ease-in-out;
}
.nav-btn-checkbox:checked ~ .content .sidebar {
  right: 0px;
}
@media only screen and (max-width: 768px) {
  .sidebar {
    min-width: 280px;
  }
}
@media only screen and (min-width: 768px) {
  .sidebar {
    display: block;
    width: 30vw;
    right: 0;
    opacity: 1;
    visibility: visible;
  }
  .section-notes {
    width: 70vw;
  }
}
.sidebar .sidebar-heading {
  color: var(--default-theme-gray-4);
  font-size: 2em;
  font-weight: normal;
  padding: 0 0 1em 1em;
}
.sidebar .nav-list {
  list-style: none;
}
.sidebar .nav-list .list-item {
  border-left: 5px solid var(--default-theme-white);
  transition: .5s ease-in-out;
}
.sidebar .nav-list .list-item:hover {
  background: var(--default-theme-gray-2);
}
.sidebar .nav-list a {
  color: var(--default-theme-text-dark);
  padding: 1em 1.5em;
  font-size: 1.5em;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.sidebar .btn-notebook-add {
  width: 100%;
}
.sidebar .btn-notebook-add a {
  display: block;
  padding: 1.5em 2em;
  color: var(--default-theme-gray-4);
  background: var(--default-theme-gray-1);
  text-decoration: none;
  transition: .5s ease-in-out;
}
.sidebar .btn-notebook-add a:hover {
  background: var(--default-theme-secondary-light);
  color: var(--default-theme-secondary);
}
.section-notes {
  min-height: 100vh;
  z-index: 1;
}
.section-notes .list-card-heading {
  padding: 0 0 0 0.5em;
}
.section-notes .notebook-controls {
  margin: 0.5em 0 0 1.2em;
}
.section-notes .btn-edit-notebook,
.section-notes .btn-delete-notebook {
  text-decoration: none;
  padding: 0 1em;
}
.section-notes .btn-edit-notebook {
  color: var(--default-theme-function-primary);
}
.section-notes .btn-edit-notebook:hover {
  color: var(--default-theme-function-primary-dark);
}
.section-notes .btn-delete-notebook {
  color: var(--default-theme-function-caution);
}
.section-notes .btn-delete-notebook:hover {
  color: var(--default-theme-function-caution-dark);
}
.section-notes .list-cards {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  margin: 2em 0 1em 0;
}
@media only screen and (min-width: 600px) {
  .section-notes .list-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .section-notes .list-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .section-notes .list-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px) {
  .section-notes .list-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.section-notes .note-card {
  background: var(--default-theme-white);
  box-shadow: 0 0 6px var(--default-theme-text-medium);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-notes .note-card .note-card-info {
  padding: 0.5em 0 0 0;
  font-style: italic;
  color: var(--default-theme-gray-4);
}
.section-notes .note-card .card-controls {
  margin-top: 15px;
  padding: 1em 0 0 0;
  border-top: 1px solid var(--default-theme-gray-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-notes .note-card a {
  width: 45%;
  border-radius: 5px;
  display: block;
  padding: 0.8em 1.5em;
  transition: .5s ease-in-out;
}
.section-notes .note-card .btn-note-edit,
.section-notes .note-card .btn-note-delete {
  text-align: center;
  cursor: pointer;
}
.section-notes .note-card .btn-note-edit {
  background: var(--default-theme-function-primary);
  color: var(--default-theme-white);
}
.section-notes .note-card .btn-note-edit:hover {
  background: var(--default-theme-function-primary-dark);
}
.section-notes .note-card .btn-note-delete {
  background: var(--default-theme-function-caution);
  color: var(--default-theme-white);
}
.section-notes .note-card .btn-note-delete:hover {
  background: var(--default-theme-function-caution-dark);
}
.btn-note-add {
  display: inline-block;
  margin: 2em 0;
  padding: 1.5em 3em;
  color: var(--default-theme-gray-4);
  background: var(--default-theme-gray-2);
  cursor: pointer;
  border-radius: 5px;
  transition: .5s ease-in-out;
}
.btn-note-add:hover {
  background: var(--default-theme-secondary-light);
  color: var(--default-theme-secondary);
}

.section-content .internal-form {
  margin: 2em 0 1em 0;
  width: 100%;
  max-width: 500px;
}
.section-content .internal-form label,
.section-content input {
  max-width: 500px;
}
.section-content input[type=color] {
  width: 50px;
}