.header {
  background: var(--default-theme-primary);
  width: 100vw;
  position: fixed;
  box-shadow: 0 0 8px var(--default-theme-text-dark);
  top: 0;
  padding: 1em 0;
  z-index: 5;
}
.header .header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .header-brand a {
  color: var(--default-theme-text-light);
  font-size: 2.8em;
  text-decoration: none;
}
.header .nav-btn {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: background 0.3s;
}
@media only screen and (min-width: 768px) {
  .header .nav-btn {
    opacity: 0;
    visibility: hidden;
  }
}
.header .nav-btn:hover {
  background: var(--default-theme-primary-dark);
}
.header .btn-hamburger {
  display: block;
  background: var(--default-theme-text-light);
  width: 26px;
  height: 3px;
  position: relative;
  top: 24px;
  left: 13px;
  transition: .8s ease-in-out;
}
.header .btn-hamburger:before,
.header .btn-hamburger:after {
  background: var(--default-theme-text-light);
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: .5s ease-in-out;
}
.header .btn-hamburger:before {
  top: -8px;
}
.header .btn-hamburger:after {
  bottom: -8px;
}
.nav-btn-checkbox {
  display: none;
}
.nav-btn-checkbox:checked ~ .header .btn-hamburger {
  transform: rotate(45deg);
}
.nav-btn-checkbox:checked ~ .header .btn-hamburger:before {
  transform: rotate(90deg);
  top: 0;
}
.nav-btn-checkbox:checked ~ .header .btn-hamburger:after {
  transform: rotate(90deg);
  bottom: 0;
}
.header .login-btn a {
  color: var(--default-theme-text-light);
  background: var(--default-theme-primary);
  font-size: 1.5em;
  text-decoration: none;
  padding: .6em 1em;
  display: block;
  border-radius: 5px;
  transition: background .5s ease-in-out;
}
.header .login-btn a:hover {
  background: var(--default-theme-primary-dark);
}
h1 {
  font-size: 3em;
  font-weight: bold;
  padding: 0 0 0.5em 0;
}
.section-notes {
  min-height: 100vh;
  padding-top: 8em;
  z-index: 1;
}
.section-auth {
  min-height: 100vh;
  padding-top: 8em;
}
.section-auth .auth-box {
  width: 40vw;
  min-width: 300px;
  background: var(--default-theme-white);
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 1.2em 1.5em;
  border-radius: 5px;
  box-shadow: 0 0 6px var(--default-theme-text-medium);
}
.section-auth .auth-box label {
  width: 100%;
  display: block;
  color: var(--default-theme-gray-4);
  margin-bottom: 3px;
}
.section-auth .auth-box input {
  width: 100%;
  display: block;
  padding: 0.5em;
  border: 1px solid var(--default-theme-gray-3);
  color: var(--default-theme-text-dark);
  border-radius: 5px;
}
.section-auth .auth-box input:focus {
  color: var(--default-theme-text-dark);
  border: 1px solid var(--default-theme-primary);
}
.section-auth .auth-box button {
  background: var(--default-theme-secondary-light);
  color: var(--default-theme-secondary);
  border: 0;
  border-radius: 5px;
  display: block;
  padding: 0.8em 1.5em;
  margin: 0.8em 0;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.section-auth .auth-box button:hover {
  background: var(--default-theme-secondary-medium);
  color: var(--default-theme-white);
}
.section-auth .auth-box a {
  color: var(--default-theme-text-dark);
  text-decoration: none;
}
.section-auth .auth-box a:hover {
  color: var(--default-theme-gray-4);
  text-decoration: underline;
}
.sidebar {
  width: 30vw;
  min-width: 280px;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: -290px;
  background: var(--default-theme-white);
  padding-top: 8em;
  box-shadow: 0 0 8px var(--default-theme-text-medium);
  z-index: 3;
  transition: right .8s ease-in-out;
}
.nav-btn-checkbox:checked ~ .content .sidebar {
  right: 0px;
}
@media only screen and (min-width: 768px) {
  .sidebar {
    display: block;
    width: 30vw;
    right: 0;
    box-shadow: 0 0 0;
    opacity: 1;
    visibility: visible;
  }
  .section-notes {
    width: 70vw;
  }
}
.sidebar .sidebar-heading {
  color: var(--default-theme-gray-4);
  font-size: 2em;
  font-weight: normal;
  padding: 0 0 1em 1em;
}
.sidebar .nav-list {
  list-style: none;
}
.sidebar .nav-list .list-item {
  border-left: 5px solid var(--default-theme-white);
  transition: .5s ease-in-out;
}
.sidebar .nav-list .list-item:hover {
  background: var(--default-theme-gray-2);
}
.sidebar .nav-list a {
  color: var(--default-theme-text-dark);
  padding: 1em 1.5em;
  font-size: 1.5em;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.sidebar .add-notebook-btn {
  width: 100%;
}
.sidebar .add-notebook-btn a {
  display: block;
  padding: 1.5em 2em;
  color: var(--default-theme-gray-4);
  background: var(--default-theme-gray-1);
  text-decoration: none;
  transition: .5s ease-in-out;
}
.sidebar .add-notebook-btn a:hover {
  background: var(--default-theme-secondary-light);
  color: var(--default-theme-secondary);
}