{% extends "base.html" %}

{% block page_title %}
Edit Note
{% endblock page_title %}

{% block content %}
<section class="section-content">
  <div class="container">
    <h1>Edit Note</h1>
    <div class="note-category" style="border-left: 2px solid {{ current_notebook.color }}">{{ current_notebook.name }}</div>
    <form class="internal-form" action="{{ url_for('site.edit_note', notebook=current_notebook.id, note=current_note.id) }}" method="POST">
      <div class="form-field">
        <label for="content">Note</label>
        <textarea name="content" id="content" cols="30" rows="10" autofocus required>{{ current_note.content }}</textarea>
      </div>
      <a class="btn-cancel-operation" href="{{ url_for('site.list_notes', notebook=current_notebook.id) }}">Cancel</a>
      <button type="submit">Save Note</button>
    </form>
  </div>
</section>
{% endblock content %}