{% extends "base.html" %}

{% block page_title %}
{{ current_notebook.name }}
{% endblock page_title %}

{% block content %}
<section class="section-notes">
  <div class="container">
    <h1 class="list-card-heading" style="border-left: 5px solid {{ current_notebook.color }}">{{ current_notebook.name }}</h1>
    <div class="notebook-controls">
      <a class="btn-edit-notebook" href="{{ url_for('site.edit_notebook', notebook=current_notebook.id) }}">Edit</a>
      <a class="btn-delete-notebook" href="#">Delete</a>
    </div>
    <ul class="list-cards">
      {% for note in notes %}
        <li class="note-card">
          <div class="note-card-content">
            <p>{{ note.content | replace('\n', '<br>') | safe }}</p>
            <div class="note-card-info">
              <p>{{ note.modified_at.strftime('%d %b %Y - %I:%M%p') }}</p>
            </div>
          </div>
          <div class="card-controls">
            <a class="btn-note-edit" href="{{ url_for('site.edit_note', notebook=current_notebook.id, note=note.id) }}">Edit</a>
            <a class="btn-note-delete" href="{{ url_for('site.delete_note', notebook=current_notebook.id, note=note.id) }}">Delete</a>
          </div>
        </li>
      {% endfor %}
    </ul>
    <a class="btn-note-add" href="{{ url_for('site.new_note', notebook=current_notebook.id) }}">+ New Note</a>
  </div>
</section>
{% endblock content %}