{% extends "base.html" %}

{% block page_title %}
New Notebook
{% endblock page_title %}

{% block content %}
<section class="section-content">
  <div class="container">
    <h1>New Notebook</h1>
    <form class="internal-form" action="{{ url_for('site.new_notebook') }}" method="POST">
      <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" max="20" required autofocus>
      </div>
      <div class="form-field">
        <label for="color">Color</label>
        <input id="color" type="color" name="color" required>
      </div>
      <a class="btn-cancel-operation" href="{{ url_for('site.index') }}">Cancel</a>
      <button class="btn-form-add-notebook" type="submit">Add Notebook</button>
    </form>
  </div>
</section>
{% endblock content %}