<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <title>{% block page_title %}{% endblock page_title %} | Keep It</title>
</head>
<body>
  <input type="checkbox" id="nav-btn-checkbox" class="nav-btn-checkbox">
  <header class="header">
    <div class="header-content container">
      <div class="header-brand">
        <a href="{{ url_for('site.index') }}">Keep It</a>
      </div>
      {% if current_user.is_authenticated %}
        <label for="nav-btn-checkbox" class="nav-btn">
          <span class="btn-hamburger"></span>
        </label>
      {% else %}
        <div class="login-btn">
          {% if request.endpoint == 'site.login' %}
            <a href="{{ url_for('site.signup') }}">Sign Up</a>
          {% else %}
            <a href="{{ url_for('site.login') }}">Login</a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </header>
  <section class="content">
  {% block content %}
  {% endblock content %}
  {% if current_user.is_authenticated %}
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <div class="sidebar-heading">Your Notebooks</div>
      <ul class="nav-list">
        {% for notebook in notebooks %}
          <li class="list-item" onMouseOver="this.style.borderLeft='5px solid {{ notebook.color }}'" onMouseOut="this.style.borderLeft='5px solid var(--default-theme-white)'">
            <a href="#">{{ notebook.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="add-notebook-btn">
      <a href="#">+ New Notebook</a>
    </div>
  </aside>
  {% endif %}
  </section>
</body>
</html>