{% extends "base.html" %}

{% block page_title %}
Sign Up
{% endblock page_title %}

{% block content %}
<section class="section-auth">
  <div class="auth-box">
    <h1>Sign Up</h1>
    <form action="{{ url_for('site.signup') }}" method="POST">
      <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" name="name" max="20" required autofocus>
      </div>
      <div class="form-field">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" class="validate" max="50" required>
      </div>
      <div class="form-field">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" max="24" required>
      </div>
      <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('site.login') }}">Login</a>.</p>
  </div>
</section>
{% endblock content %}